* 
{
    margin: 0;
    padding: 0;
}

body
{
    background: linear-gradient( to bottom right, #415A78, silver );
}

ul 
{
  list-style-type: none;
  width: 100%;
}

h3 
{
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li i
{
  float: left;
  margin: 0 15px 0 0;
  font-size: 6em !important;
  width: 100px
}

li p
{
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  text-align: justify;
}

li 
{
  padding: 10px;
  color: #333131;
  overflow: auto;
  width: 98%;
}

li:hover 
{
  background: #c0c0c0;
  color: #415A78;
  cursor: pointer;
  border-radius: 25px;
}

.sub-items
{
    margin-left: 10%;
    width: 88%;
    display: none;
}
